FINETREE_POD_API_KEY=replace_me
FINETREE_GRADIO_USER=admin
FINETREE_GRADIO_PASS=replace_me
FINETREE_MAX_CONCURRENCY=2
FINETREE_QWEN_CONFIG=configs/qwen_ui_runpod_pod_local_8bit.yaml
FINETREE_SERVED_MODEL_NAME=qwen-gt
FINETREE_ADAPTER_REF=replace_me
FINETREE_POD_DEBUG_ERRORS=0
